:root {
  --mainblack: #272727;
  --charcoal: #3B3B3B;
  --secondarygrey: rgb(159, 159, 159);
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--offwhite);
  font-family: 'Helvetica';
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
};

button,
input {
  font-family: inherit;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border: 1px soloid black;
  border-radius: 5px;
  color: #f2f2f2;
}
