:root {
  --mainblack: #272727;
  --charcoal: #3B3B3B;
  --secondarygrey: rgb(159, 159, 159);
  --offwhite: rgb(211, 211, 211);
}

html {
  font-size: 18px;
  font-family: 'Inter';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--offwhite);
  font-family: 'Helvetica';
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
}

ul,
ol {
  list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
};

button,
input {
  font-family: inherit;
}
.control {
  display: flex; flex-direction: row-reverse;
  align-items: center; justify-content: space-evenly;
  width: fit-content; height: 100%;
  color: var(--offwhite);
  font-weight: 200;
}
.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--secondarygrey);
  cursor: pointer;
}
.control-button:hover {
  filter: brightness(95%);
}
.control-button:active {
  filter: brightness(100%);
}
